body {
  background-color: #0C0C0C;
  font-family: $manrope;
}
// Nav Bar Section
.landing {
  height: 90vh;
  padding: 0px 10px;
}
// Name with small description
.main-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 1%;
  h1 {
    font-size: 62px;
    color: $tan;
    font-family: $manrope;
    font-weight: 300;
  }
  span {
    font-size: 48px;
    color: $sec-letters;
    font-family: $manrope;
    font-weight: 300;
  }
}
// Image & content
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 3%;
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    color: $tan;
    align-items: end;
    justify-items: flex-start;
    position: relative;
  }
  .right {
    background-size: cover;
    background-image: url(beach_final.png);
    height: 350px;
    width: 400px;
    margin-left: 5%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: rotate(6deg);
  }
}
// The lines below the left side content
.left::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 460px;
  background-color: $tan;
  bottom: 52px;
}
.left::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 460px;
  background-color: $tan;
  bottom: 12px;
}

// -----Skills Section-------
.skills-section {
  max-width: 1100px;
  margin: 0 auto;
  border-top: 2px solid $tan;
  padding: 60px 0px;
  margin-top: 3%;
  .column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    h3 {
      font-family: $manrope;
    }
    p {
      font-size: 16px;
      color: $sec-letters;
      font-family: $manrope;
      font-weight: 300;
    }
  }
}

// ---------Projects Section GRID------------
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  pointer-events: none;
  // Hover opacity effect
  &:hover {
    .project-display:not(:hover) {
      opacity: .7;
      transition: .3s;
    }
  }
  .project-display {
    pointer-events: auto;
    transition: opacity 300ms;
    .screenshot {
      background-size: cover;
      height: 300px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
    }
    .subtitle {
      margin: 0px;
      color: $tan;
      text-decoration: none;
    }
    .languages {
      font-size: 16px;
      color: $sec-letters;
      margin-top: 5px;
      text-decoration: none;
      span {
        margin: 0px 5px;
      }
    }
  }
}
#project-g {
  margin-top: 60px;
  color: $tan;
  height: 100%;
  padding: 0px 10px 60px 10px;
  // margin-bottom: 60px;
}

.project-container-g {
  max-width: 1100px;
  margin: 0 auto;
  h2 {
    margin-bottom: 6%;
    color: $tan;
    text-align: start;
    font-size: 62px;
    font-family: $manrope;
    font-weight: 300;
  }
}
.project-content-g {
  display: grid;
  grid-template-rows: .2fr 1fr 1fr 1fr 1fr;
}
.table-title-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr ;
  border-bottom: 2px solid $tan;
  margin-bottom: 20px;
  font-weight: 350;
  font-family: $manrope;
  padding: 5px;
  justify-items: center;

  h4 {
    font-family: $manrope;
    font-size: 22px;
  }
}
.table-row-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  padding: 5px;
  transition: .3s;
  justify-items: center;
  align-items: center;
  a {
    text-decoration: none;
    color: $tan;
  }
  p {
    margin-bottom: 0px;

  }
  &:hover {
    // background-color: #f6ebda1a;
    // box-shadow: inset 0px 0px 25px 20px #f6ebda12;
    transform: translateX(10px) rotate(1deg);
    transition: .3s;
    background-color: #ebcfb2d1;
    border-radius: 10px;
  }
}


// About me section
#about {
  // margin-top: 5%;
  padding: 60px 10px;
}
.about-container {
  max-width: 1100px;
  margin: 0 auto;
  h2 {
    margin-bottom: 7%;
    color: $tan;
    text-align: start;
    font-size: 62px;
    font-family: $manrope;
    font-weight: 300;
  }
}
.about-content {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  gap: 20px;
}
.top-a {
  display: flex;
  justify-content: start;
  .photo-1 {
    transform: scale(1.15);
    margin: 5px 25px;
    background-image: url(ski_me.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 220px;
  }
  .photo-2 {
    transform: scale(1.15);
    margin: 5px 25px;
    background-image: url(cali_cliffs.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 220px;
  }
  .photo-3 {
    transform: scale(1.15);
    margin: 5px 25px;
    background-image: url(central_park.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 220px;
  }
  .photo-4 {
    transform: scale(1.15);
    margin: 5px 25px;
    background-image: url(volcano.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    width: 220px;
  }
}
.bottom-a {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $tan;
    font-size: 22px;
  }
}
.arrow {
  display: none;
  background-image: url(arrow.png);
  background-size: contain;
  height: 150px;
  width: 150px;
  // display: flex;
  justify-items: end;
}



// -------Contact Section
#contact {
  // margin-top: 4%;
  color: $tan;
  height: 60vh;
}
.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  h2 {
    margin-bottom: 7%;
    color: $tan;
    text-align: start;
    font-size: 62px;
    font-family: $manrope;
    font-weight: 300;
  }
}
.contact-content {
  display: grid;
  grid-template-rows: .2fr 1fr;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px solid $tan;
  justify-items: center;
  p {
    font-weight: 600;
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 5%;
  a {
    color: $tan;
    text-decoration: none;
    transition: .3s;

    .letter {
      display: inline-block;
      transition: .3s;
    }
    .email-letter {
      display: inline-block;
      transition: .3s;
    }
    .r-letter {
      display: inline-block;
      transition: .3s;
    }
    // wierd letter movement effect on hover for github
    &:hover {
      .letter:nth-child(1) {
        transition: .3s;
        transform: translateY(2px) translateX(-6px) rotate(2deg);
        color: #DB4C40;
      }
      .letter:nth-child(2) {
        transition: .3s;
        transform: translateY(-2px) translateX(0px) rotate(-2deg);
        color: #D6CBC1;
      }
      .letter:nth-child(3) {
        transition: .3s;
        transform: translateY(3px) translateX(1px) rotate(2deg);
        color: #DB4C40;
      }
      .letter:nth-child(4) {
        transition: .3s;
        transform: translateY(-2px) translateX(5px) rotate(-2deg);
        color: #009FB7;
      }
      .letter:nth-child(5) {
        transition: .3s;
        transform: translateY(2px) translateX(7px) rotate(2deg);
        color: #DB4C40;
      }
      .letter:nth-child(6) {
        transition: .3s;
        transform: translateY(-3px) translateX(8px) rotate(-2deg);
        color: #009FB7;
      }
      .letter:nth-child(7) {
        transition: .3s;
        transform: translateY(1px) translateX(17px) rotate(2deg);
        color: #D6CBC1;
      }

      // Resume Letters
      .r-letter:nth-child(1) {
        transition: .3s;
        transform: translateY(5px) translateX(-1px) rotate(-6deg);
        color: #009FB7;
        transition-delay: .1s;
      }
      .r-letter:nth-child(2) {
        transition: .3s;
        transform: translateY(-5px) translateX(1px) rotate(6deg);
        color: #DB4C40;
        transition-delay: .1s;
      }
      .r-letter:nth-child(3) {
        transition: .3s;
        transform: translateY(5px) translateX(2px) rotate(-6deg);
        color: #009FB7;
        transition-delay: .1s;
      }
      .r-letter:nth-child(4) {
        transition: .3s;
        transform: translateY(-5px) translateX(3px) rotate(6deg);
        color: #D6CBC1;
        transition-delay: .1s;
      }
      .r-letter:nth-child(5) {
        transition: .3s;
        transform: translateY(5px) translateX(4px) rotate(-6deg);
        color: #009FB7;
        transition-delay: .1s;
      }
      .r-letter:nth-child(6) {
        transition: .3s;
        transform: translateY(-5px) translateX(5px) rotate(6deg);
        color: #DB4C40;
        transition-delay: .1s;
      }

      // Email letter
      .email-letter:nth-child(1) {
        transition: .3s;
        transform: translateY(14px) translateX(1px) rotate(-6deg);
        color: #009FB7;
        transition-delay: .1s;
      }
      .email-letter:nth-child(2) {
        transition: .3s;
        transform: translateY(12px) translateX(2px) rotate(-8deg);
        color: #009FB7;
      }
      .email-letter:nth-child(3) {
        transition: .3s;
        transform: translateY(10px) translateX(3px) rotate(-8deg);
        color: #009FB7;
        transition-delay: .2s;

      }
      .email-letter:nth-child(4) {
        transition: .3s;
        transform: translateY(8px) translateX(4px) rotate(-8deg);
        color: #009FB7;
        transition-delay: .4s;

      }
      .email-letter:nth-child(5) {
        transition: .3s;
        transform: translateY(7px) translateX(5px) rotate(-7deg);
        color: #009FB7;
      }
      .email-letter:nth-child(6) {
        transition: .3s;
        transform: translateY(4px) translateX(6px) rotate(-6deg);
        color: #009FB7;
        transition-delay: .5s;
      }
      .email-letter:nth-child(7) {
        transition: .3s;
        transform: translateY(3px) translateX(7px) rotate(-5deg);
        color: #009FB7;
        transition-delay: .1s;
      }
      .email-letter:nth-child(8) {
        transition: .3s;
        transform: translateY(25px) translateX(-35px) rotate(-7deg);
        color: #D6CBC1;
        transition-delay: .1s;
      }
      .email-letter:nth-child(9) {
        transition: .3s;
        transform: translateY(23px) translateX(-32px) rotate(-6deg);
        color: #D6CBC1;
      }
      .email-letter:nth-child(10) {
        transition: .3s;
        transform: translateY(21px) translateX(-30px) rotate(-6deg);
        color: #D6CBC1;
        transition-delay: .2s;
      }
      .email-letter:nth-child(11) {
        transition: .3s;
        transform: translateY(19px) translateX(-28px) rotate(-6deg);
        color: #D6CBC1;
        transition-delay: .3s;
      }
      .email-letter:nth-child(12) {
        transition: .3s;
        transform: translateY(17px) translateX(-26px) rotate(-6deg);
        color: #D6CBC1;
        transition-delay: .3s;
      }
      .email-letter:nth-child(13) {
        transition: .3s;
        transform: translateY(15px) translateX(-24px) rotate(-7deg);
        color: #D6CBC1;
        transition-delay: .3s;

      }
      .email-letter:nth-child(14) {
        transition: .3s;
        transform: translateY(13px) translateX(-22px) rotate(-7deg);
        color: D6CBC1;
        transition-delay: .3s;

      }
      .email-letter:nth-child(15) {
        transition: .3s;
        transform: translateY(11px) translateX(-20px) rotate(-7deg);
        color: #D6CBC1;
      }
      .email-letter:nth-child(16) {
        transition: .3s;
        transform: translateY(9px) translateX(-18px) rotate(-7deg);
        color: #D6CBC1;
        transition-delay: .2s;

      }
      .email-letter:nth-child(17) {
        transition: .3s;
        transform: translateY(7px) translateX(-16px) rotate(-8deg);
        color: #D6CBC1;
        transition-delay: .3s;

      }
      .email-letter:nth-child(18) {
        transition: .3s;
        transform: translateY(27px) translateX(-55px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .1s;

      }
      .email-letter:nth-child(19) {
        transition: .3s;
        transform: translateY(25px) translateX(-54px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .2s;

      }
      .email-letter:nth-child(20) {
        transition: .3s;
        transform: translateY(23px) translateX(-53px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .4s;

      }
      .email-letter:nth-child(21) {
        transition: .3s;
        transform: translateY(20px) translateX(-52px) rotate(-6deg);
        color: #DB4C40;
        transition-delay: .3s;

      }
      .email-letter:nth-child(22) {
        transition: .3s;
        transform: translateY(19px) translateX(-51px) rotate(-7deg);
        color: #DB4C40;
      }
      .email-letter:nth-child(23) {
        transition: .3s;
        transform: translateY(17px) translateX(-50px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .5s;

      }
      .email-letter:nth-child(24) {
        transition: .3s;
        transform: translateY(15px) translateX(-49px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .6s;

      }
      .email-letter:nth-child(25) {
        transition: .3s;
        transform: translateY(13px) translateX(-48px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .3s;

      }
      .email-letter:nth-child(26) {
        transition: .3s;
        transform: translateY(11px) translateX(-47px) rotate(-7deg);
        color: #DB4C40;
      }
      .email-letter:nth-child(27) {
        transition: .3s;
        transform: translateY(9px) translateX(-46px) rotate(-7deg);
        color: #DB4C40;
        transition-delay: .1s;

      }
    }
  }
}


// Media Queries IPHONE
@media only screen and  (min-width: 200px) and (max-width: 700px) {
  .main-container {
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 5px 15px;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 54px;
      color: $tan;
      font-family: $manrope;
      font-weight: 300;
    }
    span {
      font-size: 32px;
      color: $sec-letters;
      font-family: $manrope;
      font-weight: 300;
    }
  }
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    .left {
      margin: 15px;
    }
    .right {
      background-size: cover;
      background-image: url(beach_final.png);
      height: 290px;
      width: 350px;
      margin-left: 5%;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      transform: rotate(6deg);
    }
  }

  // The the little lines a bit smaller for the mobile
  .left::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 350px;
    background-color: $tan;
    bottom: 52px;
  }
  .left::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 350px;
    background-color: $tan;
    bottom: 12px;
  }
  .top-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  // Image Size a bit smaller
  #about {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
  }
  .about-container {
    h2 {
      text-align: center;
    }
  }
  .about-content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .bottom-a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding: 0px 15px;
    }
  }
  // ------- SKILLS SECTION------------
  .skills-section {
    margin-top: 50%;
    // padding: 0px 15px;
    width: 90%;
    height: auto;
    .column-container {
      gap: 12px;
      width: 100%;
    }
  }
  #project {
    margin-top: 20%;
    padding: 0px 15px;
    width: 100%;
    height: auto;
  }
  .project-container {
    h2 {
      text-align: center;
    }
  }
  .table-title {
    grid-template-columns: 1.2fr 1fr 1fr .5fr;
  }
  .table-row {
    grid-template-columns: 1.2fr 1fr 1fr .5fr;
  }
  #contact {
    margin-top: 20%;
    padding: 0px 15px;
    width: 100%;
    height: 20vh;
  }
}



// KEYFRAME ANIMATIONS
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
