

.top-section {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 70px;
  padding: 40px 0px;
  .left-side {
    h2 {
      font-size: 72px;
      border-bottom: 2px solid $tan;
      padding: 0px 0px 10px 0px;
      font-weight: 500;
      font-family: $manrope;
    }
    .project-year {
      display: flex;
      justify-content: space-between;
    }
    .summary {
      margin-top: 10px;
      p {
        margin-bottom: 5px;
      }
    }
    .icons {
      margin-top: 0px;
      display: flex;
      a {
        font-size: 22px;
        color: $tan;
        margin-right: 20px;
        transition: .3s;
        &:hover {
          transition: .3s;
          color: $sec-letters;
        }
      }
    }
  }
  .right-side {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .homepage-image {
      background-size: cover;
      height: 290px;
      width: 100%;
      border-radius: 0px;
    }
  }
}

.gallery-section {
  margin-top: 100px;
  // height: 50vh; //temporary

  .gallery {
    border-top: 2px solid $tan;
    border-bottom: 2px solid $tan;
    padding: 50px 30px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    .gallery-image {
      background-size: cover;
      height: 210px;
      width: 100%;
      border-radius: 0px;
      transition: .3s;
      cursor: pointer;
      // box-shadow: 0px 0px 2px 3px rgb(32, 32, 32);

      .img-button {
        background-color: transparent;
        border: none;
        transition: .3s;
        &:focus {
          transform: scale(1.6);
          transition: .3s;
        }
      }
    }
  }
}
