

.top-section {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 70px;
  padding: 40px 0px;
  .left-side {
    h2 {
      font-size: 72px;
      border-bottom: 2px solid $tan;
      padding: 0px 0px 10px 0px;
      font-weight: 500;
      font-family: $manrope;
    }
    .project-year {
      display: flex;
      justify-content: space-between;
    }
    .summary {
      margin-top: 10px;
      p {
        margin-bottom: 5px;
      }
    }
    .icons {
      margin-top: 0px;
      display: flex;
      a {
        font-size: 26px;
        color: $tan;
        margin-right: 20px;
        transition: .3s;
        &:hover {
          transition: .3s;
          color: $sec-letters;
        }
      }
    }
  }
  .right-side {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .homepage-image {
      background-size: cover;
      height: 290px;
      width: 100%;
      border-radius: 0px;
    }
  }
}

.gallery-section {
  margin-top: 100px;
  // height: 50vh; //temporary
  .gallery {
    position: relative;
    border-top: 2px solid $tan;
    border-bottom: 2px solid $tan;
    padding: 50px 30px 0px 30px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-auto-columns: calc(75%);
    grid-auto-flow: column;
    grid-gap: 16px;
    overflow-x: auto;
    overflow: scroll;
    scrollbar-color: green blue;
    .subtitle {
      opacity: 0;
      transition: .3s;
      margin-bottom: 0px;
      padding-bottom: 0px;
      color: $tan;
      font-size: 18px;
    }
    .gallery-image {
      background-size: contain;
      height: 95%;
      width: 100%;
      border-radius: 0px;
      transition: .3s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &:hover {
        .subtitle {
          opacity: 1;
          transition: .3s;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
      }
      .img-button {
        background-color: transparent;
        border: none;
        transition: .3s;
        &:hover {
          transition: .3s;
        }
      }
    }
  }
}


// about section
.about-project-section {
  margin-top: 100px;
  .about-project-container {
    max-width: 1200px;
    margin: auto;
    h3 {
      margin-bottom: 10px;
      font-size: 28px;
      font-family: $manrope;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
