.main-section {
  height: 110vh;
  .background-columns {
    display: grid;
    grid-template-columns: .6fr 1.3fr;
  }
  .left-col {
    background-color: #0C0C0C;
    height: 120vh;
  }
  .right-col {
    position: relative;
    background-color: $tan;
    height: 120vh;
    display: flex;
    flex-direction: column;
    .header-t {
      padding: 20px 50px;
      h2 {
        color: #0C0C0C;
        font-size: 78px;
        font-family: $manrope;
        font-weight: 500;
      }
      h4 {
        color: #0C0C0C;
        font-size: 22px;
        font-family: $manrope;
        font-weight: 300;
      }
    }
    .descripter {
      padding: 30px 50px 0px;
      height: 600px;
      max-width: 900px;
      h4 {
        color: #0C0C0C;
        font-size: 36px;
        font-family: $manrope;
        font-weight: 400;
      }
      p {
        color: #0C0C0C;
        font-size: 18px;
        font-family: $manrope;
        font-weight: 300;
      }
    }
    .black-img {
      position: absolute;
      margin-top: 50px;
      padding: 30px;
      height: 370px;
      width: 600px;
      background-color: #0C0C0C;
      top: 330px;
      left: -300px;
      .screenshot-homepage-image {
        background-size: cover;
        height: 300px;
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px 0px 4px 1px white;
      }
    }
    .black-img-s {
      position: absolute;
      margin-top: 50px;
      padding: 30px;
      height: 370px;
      width: 600px;
      background-color: #0C0C0C;
      top: 170px;
      left: -300px;
      .screenshot-homepage-image {
        background-size: cover;
        height: 300px;
        width: 100%;
        border-radius: 0px;
        box-shadow: 0px 0px 4px 1px white;
      }
    }
  }
}
