body {
  color: $tan;
  font-family: $manrope;
}
.p-container {
  max-width: 1200px;
  margin: 0 auto;
}
// Title
.project-name {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // align-items: flex-end;
  h1 {
    text-align: start;
    font-family: $manrope;
    font-size: 78px;
    font-weight: 500;
  }
}
// Left Side Column content
.p-content-container {
  display: grid;
  grid-template-columns: .8fr 1fr;
  gap: 10%;
}

// little info thing
#left-project {
  margin-top: 10%;
}
.project-content-profile {
  display: grid;
  grid-template-rows: .2fr 1fr;
}
.table-title-profile {
  display: grid;
  grid-template-columns: 1fr 1fr .9fr;
  border-bottom: 2px solid $tan;
  margin-bottom: 20px;
  font-weight: 350;
  font-family: $manrope;
  h5 {
    font-family: $manrope;
    font-size: 22px;
  }
}
.table-row-profile {
  display: grid;
  grid-template-columns: 1fr 1fr .9fr;
  a {
    text-decoration: none;
    color: $tan;
    font-size: 16px;
  }
}
.project-description {
  margin-top: 1%;
  p {
    font-size: 16px;
    font-family: $manrope;
  }
}


// RIGHT SIDE SCREENSHOTS
.right-content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: flex-end;
}
.screenshot-homepage-image {
  background-size: cover;
  height: 290px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px white;
}
.tools-used {
  margin-top: 3%;
  display: flex;
  p {
    margin: 0px 20px;
  }
  span {
    font-size: 18px;
  }
}

// second section
.second-section-content {
  display: grid;
  grid-template-columns: 1fr .8fr;
  gap: 10%;
  margin-top: 15%;
}
.img-1 {
  // background-image: url(techdaddy_vendors.png);
  background-size: cover;
  height: 290px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);

}
.explaination {
  h2 {
    font-family: $manrope;
    // font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-bottom: 18px;
  }
}

// TAKEAWAY
.takeaway-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15%;

  h2 {
    text-align: center;
    font-family: $manrope;
    font-size: 22px;
    margin-bottom: 18px;
  }
}

// FOOTER
.footer-container {
  display: flex;
  justify-content: end;
  padding: 20px;
  margin-top: 10%;
  transition: .4s;

  &:hover {
    box-shadow: inset 1260px 0 0 0 $tan;
    transition: .4s;
    .project-link {
      color: black;
      transition-delay: .3s;
      transform: scale(1.1);
    }
  }
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  .project-link {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 20px;
    font-size: 22px;
    text-decoration: none;
    color: $tan;
  }
}
.next-arrow {
  background-image: url(next_arrow.png);
  background-size: contain;
  width: 98px;
  height: 50px;
}
