<%# Nav Bar %>
<div class="nav-container">
  <div class="nav-content">
    <a href="#about"><p>ABOUT</p></a>
    <a href="#project"><p>PROJECTS</p></a>
    <a href="#contact"><p>CONTACT</p></a>
  </div>
</div>
