<%# Nav Bar %>
<div class="nav-container">
  <div class="nav-content">
    <a href="#about" class="nav-link"><p>ABOUT</p></a>
    <a href="#project" class="nav-link"><p>PROJECTS</p></a>
    <a href="#contact" class="nav-link"><p>CONTACT</p></a>
  </div>
</div>
