<%# Loader with the MK Symbol and the loading line %>
<%# Can add an img if i want to it but just going to keep it simple for now %>

<div class="preloader" data-controller="loader">
  <h1>MK</h1>
  <div class="line"></div>
  <%# <img src="" alt="spinner"> %>
</div>
