<div class="nav-container">
  <div class="nav-content">
    <%= link_to "HOME", root_path %>
    <a href="#project"><p>PROJECTS</p></a>
    <a href="#contact"><p>CONTACT</p></a>
  </div>
</div>

<%# Project Container %>
<div class="p-container">
  <div class="p-content-container">
    <div class="left-content">
      <div class="project-name">
        <h1>AVTECHDADDY</h1>
      </div>
      <div class="project-content-profile" id="right-project">
        <div class="table-title-profile">
          <h5>TITLE</h5>
          <h5>GENRE</h5>
          <h5>YEAR</h5>
        </div>
        <div class="table-row-profile">
          <p>AVTECHDADDY</p>
          <p>Web</p>
          <p>2022</p>
        </div>
      </div>
    </div>
    <div class="right-content">
      <%# image %>
    </div>
  </div>
</div>
