<%= render "shared/project_nav" %>

<%# Project Container %>
<div class="p-container">
  <div class="project-name">
    <h1>Deepwork.</h1>
  </div>
  <div class="p-content-container">
    <div class="left-content">
      <div class="project-content-profile" id="left-project">
        <div class="table-title-profile">
          <h5>TITLE</h5>
          <h5>GENRE</h5>
          <h5>YEAR</h5>
        </div>
        <div class="table-row-profile">
          <p>Deeepwork.</p>
          <p>Web</p>
          <p>2022</p>
        </div>
      </div>
      <div class="project-description">
        <p>Originating from a desire for increased productivity, Deepwork aims to provide a structure for
        getting shit done.
        </p>
        <p>
        </p>
      </div>
    </div>
    <div class="right-content">
      <div class="screenshot-homepage">
        <%= image_tag "deepwork.png", class: "screenshot-homepage-image" %>
      </div>
      <div class="tools-used">
        <%# <p>Languages:</p> %>
        <p>HTML</p><span> ❘ </span>
        <p>CSS</p><span> ❘ </span>
        <p>JS</p><span> ❘ </span>
        <p>Ruby</p><span> ❘ </span>
        <p>Rails Framework</p>
      </div>
    </div>
  </div>
</div>

<div class="p-container">
  <div class="second-section-content">
    <div class="img-1">
      <%= image_tag "Deepwork_session.png", class: "img-1" %>
    </div>
    <div class="explaination">
      <h2>STRUCTURE</h2>
      <p>The user has a profile page which acts as a dashboard where they can view their stats of previous sessions as well
      as pick their desired study templates for their deepwork sessions.
      </p>
    </div>
  </div>

  <%# Takeaway %>
  <%# <div class="takeaway-container">
    <h2>TAKEAWAY</h2>
    <p>This project taught me the value of working in a team. Using project management and design tools like trello
    and figma,
    </p>
  </div> %>
</div>




<%# FOOTER %>
<div class="footer-container">
  <div class="footer-content">
    <%= link_to "Deeepwork.", deepwork_path, class: "project-link" %>
    <div class="next-arrow"></div>
  </div>
</div>
