<div class="home-container">
  <div class="main-header">
    <h1>Matthew Kettelkamp</h1>
  </div>
  <div class="subheader">
    <h2>Creative Developer</h2>
  </div>
  <div class="mid-container">
    <div class="description">
      <p>Passionate and driven to create beautiful and high quality tech applications for the next generation of
      technology companies.
      </p>
    </div>
    <div class="photo">
    </div>
  </div>
  <div class="footer">
    <div class="shade">
      <p id="work">work</p>
    </div>
    <p>about</p>
    <p>contact</p>
  </div>
</div>
