<%# TESTING THE PROJECT PAGE CHANGES %>

<%= render "shared/project_nav" %>

<section class="top-section">
  <div class="left-side">
    <h2>filmy-j</h2>
    <div class="project-year">
      <p>website</p>
      <p>2022</p>
    </div>
    <div class="summary">
      <p>Film Journal application made to help film photographers learn and understand their cameras by being able to keep track of camera settings by frame for each roll prior to being developed.</p>
    </div>
  </div>
  <div class="right-side">

  </div>
</section>
