<%# TESTING THE PROJECT PAGE CHANGES %>


<section class="main-section">
  <div class="background-columns">
    <div class="left-col">
    </div>
    <div class="right-col">
      <div class="header-t">
        <h2>AVTECHDADDY</h2>
        <h4>Sole Developer & Designer</h4>
      </div>
      <div class="descripter">
        <h4>ABOUT</h4>
        <P>Built to help the staff use  and understand the plethora of technical
          equipment within the Operating Room. Essentially functions as a
          knowlegebase utilizing QR codes for quick navigation to the desired
          piece of equipment. The project that sparked my interest into
          becoming a developer. </P>
      </div>
      <div class="black-img">
        <%= image_tag "techdaddy_homepage.png", class: "screenshot-homepage-image" %>
      </div>
    </div>
  </div>
</section>
<section class="main-section">
  <div class="background-columns">
    <div class="left-col">
    </div>
    <div class="right-col">
      <div class="descripter">
        <h4>STRUCTURE</h4>
        <P>Built to help the staff use  and understand the plethora of technical
          equipment within the Operating Room. Essentially functions as a
          knowlegebase utilizing QR codes for quick navigation to the desired
          piece of equipment. The project that sparked my interest into
          becoming a developer. </P>
      </div>
      <div class="black-img-s">
        <%= image_tag "techdaddy_homepage.png", class: "screenshot-homepage-image" %>
      </div>
    </div>
  </div>
</section>
