<div class="nav-container">
  <div class="nav-content">
    <a href="#about" class="nav-link"><p>ABOUT</p></a>

    <a href="#project" class="nav-link"><p>PROJECTS</p></a>
    <a href="#contact" class="nav-link"><p>CONTACT</p></a>
  </div>
</div>

<div class="navbar-chill">
  <div class="nav-icon">
    <a href="#"><i class="fa-brands fa-github"></i></a>
  </div>
  <div class="nav-icon">
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  <div class="nav-icon">
    <a href="#"><i class="fa-solid fa-envelope"></i></i></a>
  </div>
</div>
