
.project-nav-container {
  display: flex;
  justify-content: flex-end;
  padding: 40px 40px 20px 0px;
  position: sticky;
  top: 0;
  .nav-element {
    font-size: 32px;
    i {
      color: $tan;
      padding-bottom: 0px;
      margin: 0px;
      transition: .3s;
      &:hover {
        color: $rad-red;
        transition: .3s;
      }
    }
  }
}
