.nav-container {
  // position: sticky;
  // top: 0;
  p {
    color: $tan;
    font-family: $manrope;
  }
  a {
    text-decoration: none;
    transition: .4s;
    &:hover {
      color: white;
      letter-spacing: 1.1px;
      transition: .3s;
    }
  }
}
.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 25px
}
@media only screen and  (min-width: 200px) and (max-width: 900px) {
  .nav-content {
    width: 100%;
  }
}
